In [27]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel(r'data/zu_prodeje.xlsx')

In [8]:
statut = pd.read_excel(r'data/organizace_statut.xlsx')

In [10]:
data = data.merge(statut, left_on='organizace', right_on='nazev', how='left')

In [ ]:
def nuller(value):
    if (value != value):
        return 's'
    else:
        return value
    
data.status = data.status.apply(lambda x: nuller(x))

In [26]:
#vsecko
#status: s - soukromé, v - veřejné, vz - vzdělávací
data.groupby('status')[['cena za produkt', 'cenacelkemzaobjednávku']].sum()

        cena za produkt  cenacelkemzaobjednávku
status
s               2340223                 4584946
v               5177304                27644464
vz              1004548                 1963913

In [25]:
#dmr5
data[data['kód produktu'] == 64111].groupby('status')[['cena za produkt', 'cenacelkemzaobjednávku']].sum()

        cena za produkt  cenacelkemzaobjednávku
status
s                359260                  464180
v                123245                 1398619
vz               211292                  485342